extends layout

block content
  html
    body
      .container
        .row
          .col-md-12
            h1 Product Category
          hr(class="featurette-divider")
        - var category = searchCat
        .row
          .col-xs-8.col-xs-offset-2
            .input-group
              .input-group-btn.search-panel
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown' name='searchDropdown', style="float:left")
                    span#search_concept= category
                    span.caret
                  if amazonIndex
                    ul.dropdown-menu(role='menu')
                      each amzIndex in amazonIndex
                        li
                          a(onClick='categoryChange("'+amzIndex+'")')= amzIndex
                  form(action='/produits',method='get')
                    input#search_param(type='hidden', name='searchIndex', value=category)
                    if searchKeyWord == null
                      input.form-control(type='text', name='keywords', placeholder='Search term...', style="float:left; width: 80%")
                    else
                      input.form-control(type='text', name='keywords', value=searchKeyWord, style="float:left; width: 80%")
                    span.input-group-btn
                      button.btn.btn-default(type='submit' id='searchBtn', style="float:left")
                        span.glyphicon.glyphicon-search
                    script.
                      var categoryChange = function(value){
                        category = value
                        document.getElementById("search_param").innerHTML = value
                        document.getElementById("search_concept").innerHTML = value
                        document.getElementById("search_param").value = value
                        document.getElementById("search_concept").value = value
                      }
        if details
          - var count = -1
          ul
          each detail, z in details
            if count == 2
              .row
                .col-md-12
              - count= 0
              +element(titles[z], detail.ItemLookupResponse.Items[0], prices[z], z)
            else
              - count= count + 1
              +element(titles[z], detail.ItemLookupResponse.Items[0], prices[z], z)

mixin element (title, i, price, z)
  .col-sm-4.col-md-4.article
    if price == 'none'
      .disabled
        p En Rupture de Stock !
    .thumbnail
      div.image-article
        img(src= i.Item[0].LargeImage[0].URL[0])
    .caption
        .row
          .col-md-12.col-xs-12.title-article
            h3 
              label= title
          if price != 'none'
            .col-md-12.col-xs-12.price
              h3
                label= price
        - var tmpDescriptif = ""
        each u,t in i.Item[0].ItemAttributes[0]
          if typeof(u[0]) === 'string'
              - tmpDescriptif = tmpDescriptif + ", " + t + ":" + u
        - tmpDescriptif = tmpDescriptif.substr(1)
        .descriptif
          p= tmpDescriptif
        if price != 'none'
          .row
            .col-md-12
              a.btn.btn-primary.btn-product(style="margin-right: 5px", href=likes[z], target='_blank')
                span.glyphicon.glyphicon-thumbs-up
                |  Like
              a.btn.btn-success.btn-product(href=buys[z], target='_blank')
                span.glyphicon.glyphicon-shopping-cart
                  |  Buy
